# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Telethon Session
*.session
*.session-journal

# Logs
ban.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
